.boxes-card-info-admin {
    text-align: center;
}

.card {
    display: inline-block;
    text-align: center;
}


.container-login {
    text-align: center;
    padding: 30px;
    border: 1px solid darkgray;
    -webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
    box-shadow: 0 8px 6px -6px black;
}
